
<div id="home-background">

<h1>Hey you!</h1>
<p>Welcome to your new MyRadish website! Check your upcoming invites, shifts, or confirmations</p>

<% if logged_in? %>
	<div class="row">
		<div class="col-md-4">
			<h3>Upcoming:</h3>
			<div class= "shift">
				<% if current_user.shifts.confirmed.any? %>
				<% current_user.shifts.confirmed.each do |shift| %>
				<div class = "confirmed">
					<p><%= link_to shift.event.name, event_path(shift.event.id) %></p>
					<p><%= shift.event.location %></p>
					<p><%= shift.time.strftime(" %H:%M") %></p>
				</div>
				<% end %>
				<% else %>
				<p> You don't have any confirmed shifts right now. </p>
				<% end %>
			</div>
			</div>
		<div class ="col-md-4">
			<h3>To confirm:</h3>
			<div class="shift">
				<% current_user.shifts.needsconfirmation.each do |shift| %>
				<div class = "needs-confirmation">
					<p><%= shift.event.name %></p>
					<p><%= shift.event.location %></p>
					<p><%= shift.event.date %></p>
					<p><%= shift.time.strftime(" %H:%M") %></p>
					<p> <%= link_to "Confirm!", confirm_shift_path(shift), method: :post, class: 'btn btn-success' %>
				</div>
				<% end %>
			</div>
		</div>
		<div class ="col-md-4">
			<h3>Pending:</h3>
			<div class="shift">
				<% current_user.shifts.pending.each do |shift| %>
				<div class="pending">
					
					<p><%= shift.event.name %></p>
					<p><%= shift.event.location %></p>
					<p><%= shift.date %></p>
				
					<p> <%= link_to "No thanks!", reject_shift_path(shift), method: :post, class: 'btn btn-warning' %>
   					<p> <%= link_to "Sure!", accepted_shift_path(shift), method: :post, class: 'btn btn-success' %>
 
   					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

</div>
