
<duv class="fullscreen_bg">
<div class="row">
  <div class = "login-form">
    <h1>Log in:</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>

      <%= f.submit "Log in", class: "btn btn-primary btn-block outline" %>
    <% end %>
    <br>
    <p>New user?<br>
     <%= link_to "Sign up now!", new_user_path, class: "btn btn-primary outline btn-sm" %>
   </p>
  </div>

</div>
</div>


