<p id="notice"><%= notice %></p>
<div class="col-md-9">
<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-primary outline btn-sm' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary outline btn-sm' %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-primary outline btn-md' %>
