<p id="notice"><%= notice %></p>
<div class = "row">
	<div class = "page-header">
	
 		 <h1><%= @user.name %> 
 		 <small> <%= @user.email %> </small></h1>
		
	</div>	
</div>
<div class = "row">
	<div class = "col-md-6">

		<div class = "center" id = "userpic" ><%= image_tag @user.avatar.url(:medium) %> </div>
		<h2>Contact:</h2>
<p>
<h2><span class="glyphicon glyphicon-envelope" aria-hidden="true">  </span> | Email</h2>
</p>
<p>
<h2><span class="glyphicon glyphicon-phone" aria-hidden="true"> </span> | (206) 555 - 5555</h2>
</p>
</div>

	<div class = "col-md-6">
		<h2>Shift summary:</h2>
<p>
	<% if @user.shifts.any? %>
<%= render partial: "shifts/shift", collection: @user.shifts %>
	<% end %>
</p>

</div>

</div>
<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary outline btn-sm' %> |
<%= link_to 'Back', users_path %>
