<p id="notice"><%= notice %></p>
<div class = "row">
<div class = "col-md-9">
<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td>
      <td>Confirmed: <%= event.shifts.confirmed.count %>/<%= (event.shifts.confirmed.count + event.shifts.needsconfirmation.count ) %> </td>
        <td><%= link_to 'Show', event, class: "btn btn-primary outline btn-sm" %></td>
        <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-primary outline btn-sm" %></td>
        <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Event', new_event_path, class: "btn btn-primary outline btn-md" %>
</div>