<h1>New Event</h1>

	<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.label :date %>
      <%= f.date_select :date %>
      <br>
      <%= f.submit "Create Event", class: "btn btn-primary outline btn-block" %>
    <% end %>

  </div>
</div>