<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
  <div class="col-md-6">
<p>
  <strong>Name:</strong> <h3><%= @event.name %></h3>
</p>

<p>
  <strong>Location:</strong> <h3><%= @event.location %></h3>
</p>
<p>
  <strong>Date:</strong> <h3><%= @event.date %></h3>
</p>

<% if logged_in? && current_user.admin? %>

 <% @users.each do |user| %>
  <%= user.name %>
  <% if user.shifts.where(:event_id => @event.id).any? %>
    <p> Already invited! </p>
    <% else %>

    <%= form_for(user.shifts.build) do |f| %>
    <%= f.hidden_field :user_id, :value => user.id %>
    <%= f.hidden_field :event_id, :value => @event.id %>
    <%= f.hidden_field :date, :value => @event.date %>


    <%= f.submit "Send Invite", class: "btn btn-primary btn-sm outline "  %>
    <% end %>
    <% end %>

 <% end %>

 <% end %>
 </div>
<div class="col-md-6">
	<% if @event.shifts.any? %>
    <h3>Pending:</h3>
		<% @event.shifts.pending.each do |shift| %>

		<p> <%= shift.user.name %> </p>
    <% if logged_in? && current_user.admin? %>
    <td><%= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% end %>
    <h3>Rejected:</h3>
    <% @event.shifts.rejected.each do |shift| %>
    <p><%= shift.user.name %></p>
    
		<% end %>

	<% end %>

</div>
</div>
<div class="row">
  <div class="col-md-9">
    <% if logged_in? && current_user.admin? %>
    <h3>Employees available to work:</h3>
    <% @event.shifts.accepted.each do |shift| %>
    <p><%= shift.user.name %>
      <%= shift.time %> 
      <%= form_for(shift) do |f| %>

      <%= f.time_select :time %>
      <%= f.hidden_field :status, :value => :needsconfirmation %>
      <%= f.submit "Send confirmation", class: "btn btn-primary btn-small outline" %>

      <% end %>
       <% end %>
      <%= render partial: "shifts/shift", collection: @event.shifts.needsconfirmation %>
    
    </p>
    
   
    <% end %>

    <h3>Employees confirmed to work:</h3>
    <% @event.shifts.confirmed.each do |shift| %>
    <p><%= shift.user.name %>
      <%= shift.time %> 
       <% if logged_in? && current_user.admin? %>
      <%= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
      <% end %>
      <% end %>
  </div>

</div>
<p><%= link_to 'Back', events_path %></o>