<div class="row">
	<div class = "shift">
<p> <h3><%= shift.name %> : <%= shift.location %> : <%= shift.status.upcase %> </p>
<% if logged_in? && current_user.admin? %>
      <%= link_to 'Delete', shift, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>
      <% end %>
</div>
</div>