@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$radish-red: #f96161;

/* universal */

body {
  padding-top: 60px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.fullscreen_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('food.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;


}

.login-form {
    color: white;
    width: 500px;
    padding: 15px;
    margin: -200px 0 0 -250px;
    left: 50%;
    top: 50%;
     position: absolute;
    background: rgba(0, 0, 0, 0.3)

  }

#userpic {
 img {

 border-radius: 150px;

 }
 }
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#greeting {
  
  color: white;
}

tbody {
  
  td {

  padding: 5px;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $radish-red;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* shifts */

.shift {
padding: 3px;
margin-bottom: 3px;
border-bottom: 2px solid $radish-red;

  .confirmed {
    
    border: 2px solid #e1e9b7;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
  }
  .rejected {
    color: white;
    background-color: fuchsia;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
  }
  .pending {
    border: 2px solid #bcd2d0;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
  }
  .needs-confirmation {
    border: 2px solid #d0b783;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 10px;
  }
}

/* buttons */

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    
    color: #f96161;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #f96161;
}
 
.btn-primary:active, .btn-primary.active {
    background: #f96161;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #f96161;
    color: #f96161;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: white;
    border-color: #f96161;
    background: #f96161;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #f96161;
    color: #f96161;
    box-shadow: none;
}


btn-xs, .btn-group-xs > .btn {
  padding: 2px 6px;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 8px 12px;
}
.btn-lg {
  padding: 20px 40px;
  border-radius: 4px;
}
.btn-xs.btn-default, .btn-xs.outline {
  padding: 0px 4px;
}
.btn-sm.btn-default, .btn-sm.outline {
  padding: 6px 10px;
}
.btn-lg.btn-default, .btn-lg.outline {
  padding: 18px 38px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}