<!DOCTYPE html>
<html>
<head>
  <title>RadishApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "MyRadish", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li> <%= link_to "Hi there #{current_user.name}", root_path %> </li> 
              <% if current_user.admin? %>  
            <li><%= link_to "Users",   users_path %></li>
            <li><%= link_to "Events",   events_path %></li>
            <% end %>
            <li><%= link_to "Log out", logout_path, method: "delete" %> </li>
            
            <% else %>
            <li><%= link_to "Sign up!", new_user_path %> </li>
            <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
    	<% flash.each do |message_type, message| %>
  		<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>

      
      <div class = "row">
      
      
      
      <%= yield %>

  </div>
 
    </div>
</body>
</html>
